{% load staticfiles %}

<!doctype html>
<html lang="en">
{% for key, value in context.items 
	book = value 
endfor %}


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Book Details:{{ book.Book_title }}</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link src="{% static 'js/bootstrap.min.js' %}" rel="stylesheet"> 
    <link src="{% static 'js/jquery-3.3.1.js' %}" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet"> 
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1 class="text-left">Book title: {{ book.Book_title }}</h1>
	<!-- <p class="lead"></p> -->
      </div>



	<div class="container-fluid">
	    <div class="content-wrapper">	
			<div class="item-container">	
				<div class="container">	
					<div class="col-md-12">
						<div class="product col-md-3 service-image-left">
	                    
							<center>
								<img id="item-display" src="{{ book.CoverImage.url }}" alt=""></img>
							</center>
						</div>
						
						<div class="container service1-items col-sm-2 col-md-2 pull-left">
							<center>
								<a id="item-1" class="service1-item">

									<img src="/media/book_images/noImage" alt=""></img>
								</a>
								<a id="item-2" class="service1-item">
									<img src="/media/book_images/noImage" alt=""></img>
								</a>
								<a id="item-3" class="service1-item">
									<img src="/media/book_images/noImage" alt=""></img>
								</a>
							</center>
						</div>
					</div>
						
					<div class="col-md-7">
						<div class="product-title">{{ book.Book_title }}</div>
						<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
						<hr>
						<div class="product-price">$ {{ book.Price }}</div>
						<div class="product-stock">In Stock</div>
						<hr>
						<div class="btn-group cart">
							<button type="button" class="btn btn-success">
								Add to cart 
							</button>
						</div>
						<div class="btn-group wishlist">
							<button type="button" class="btn btn-danger">
								Add to wishlist 
							</button>
						</div>
					</div>
				</div> 
			</div>
			<br></br>
			<div class="container-fluid">		
				<div class="col-md-12 product-info">
						<ul id="myTab" class="nav nav-tabs nav_tabs">
							
							<li class="nav-link"><a href="#service-one" data-toggle="tab">Summary</a></li>
							<li class="nav-link"><a href="#service-two" data-toggle="tab">Details</a></li>
							<li class="nav-link"><a href="#service-three" data-toggle="tab">Comments</a></li>
							
						</ul>
				
					<br></br>

					<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="service-one">
							 
								<section class="container product-info">
										{{ book.Book_description }}	

								</section>
											  
							</div>
						<div class="tab-pane fade" id="service-two">
							
							<section class="container product-info">
								
									<ul class ="text-left" style="list-style-type:none">

										<li class = "col-md-4"><strong>Title:</strong>     {{ book.Book_title }}</li>
										<li class = "col-md-4"><strong>ISBN:</strong>     {{ book.ISBN }}</li>
										<li class = "col-md-4"><strong>Genre:</strong>     {{ book.GenreID.Name }}</li>
										<li class = "col-md-4"><strong>Publisher:</strong>     {{ book.PublisherID.Name }}</li>
										<li class = "col-md-4"><strong>Release Date:</strong>     {{ book.Release_date }}</li>
									</ul>
										
							</section>
							
						</div>
						<div class="tab-pane fade" id="service-three">
													
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	
	
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>

