

/*overall doc size*/
html, body{margin:0; padding:0; font-size:16px; line-height:1.6;}


.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.uppercase{text-transform:uppercase;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}
.block{display:block;}
.nospace{margin:0; padding:0; list-style:none;}
.inline *{display:inline-block;}
.inline *:last-child{margin-right:0;}
.pushright li{margin-right:20px;}
.pushright li:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.overlay{position:relative; z-index:1;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle{border-radius:50%; background-clip:padding-box;}


.icon{display:inline-block; position:relative; margin-bottom:50px; width:100px; height:100px; line-height:100px; text-align:center; font-size:36px;}
.icon::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid; content:"";}
.icon::after{-ms-transform:rotate(45deg); transform:rotate(45deg);}/* This rotates the box depending on how many degrees you set - can take negative degrees eg. -45deg */

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgl{margin:0 15px 10px 0; clear:left;}
.imgr{margin:0 0 10px 15px; clear:right;}


/*font editor*/
body, input, textarea, select{font-family:Trebuchet, Geneva, sans-serif;}
h1, h2, h3, h4, h5, h6, .heading{font-family: Verdana, Geneva, sans-serif;}


/*TITLE FLOAT*/
.hoc{display:block; margin:0 auto;}




/* Book browsing grid*/
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none;}

.first{margin-left:0; clear:left;}

.one_quarter{width:22.69938650306748%;}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:74.23312883435584%;}



