{% extends 'base.html' %}

{%  block additionalImports %}
{% endblock %}



{% block content %}
<div class="container">
    <h1>Profile information:</h1>
    
    <p> FirstName: {{ userinfo.AuthUser_ID.first_name }}</p>
    <p> LastName: {{ userinfo.AuthUser_ID.last_name }}</p><br>
    <p> Username: {{ userinfo.AuthUser_ID.username }}</p>

    <p> ProfileID: {{ userinfo.ProfileID }} </p>
    <p> CartID: {{ userinfo.Cart_ID }}</h3> </p>
    <hr>
    
    <h1> Billing information</h1>

    
    <form action="{% url 'prof:add_reserved_card' %}">
        <input type="submit" class="btn btn-success" value="Add a credit card" />
    </form>

    <a href="/">Click here to choose a default credit card for payment</a> <!-- -->
</div> 
{% endblock %}