@charset "utf-8";
@import url("framework.css");


body{

font-size: 20px;

}
#header{
	padding:30px 0;
}

#header #logo{
	margin-top:8px; font-variant:small-caps;
}
#header #logo h1
{
	margin:0; 
	padding:0; 
	font-size:48px;
}


h1, h2, h3, h4, h5, h6, .heading{
    margin:0 0 20px 0; 
    font-size:26px; 
    line-height:normal; 
	font-weight:normal; text-transform:capitalize;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default {
    background-color:  #322B2B;
    border-color:  #322B2B;
}
/*
body{

	background-image: url("../../pages/unnamed.jpg");

}

*/

/*extra padding between Book lists and nav bar*/

.container{
	padding:80px 0;
}


nav ul, nav ol{
	margin:0; padding:0; list-style:none;
}

#mainav, #line{
	line-height:normal;
}



/* Used to draw horizontal line */
#line{
	padding:0px 0 10px; 
	border-bottom:1px solid; 
	text-align:right;
}



#browsing{display:block; width:100%; margin-bottom:50px;}
#browsing figure figcaption{display:block; width:100%; clear:both;}
#browsing li{margin-bottom:30px;}

/*background banner*/

.row1{color:#105067; 
	background-image:url("../26561f9c71351bf.jpg");
	background-position: center; 
	background-size: 100%;
	background-position: 0px 16px;
}

/* Rows 
.row0{color:#14A73C; background-color:#F6F6F6;}
.row1{color:#888888; background-color:#FFFFFF;}
.row2, .row2 a{color:#FFFFFF; background-color:#14A73C;}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:#D0D0D0; background-color:#252B34;}
.row5, .row5 a{color:#D0D0D0; background-color:#252B34;}
*/

/* Header */
#header #logo *{color:inherit;}

img {

	height: 240px;
	
	}


/* To limit maximum width of webpage*/
@media screen and (min-width:1000px){
	.hoc{max-width:1000px;}
}






