<!DOCTYPE html>
<html lang="en">
<style>
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

</style>
<form action="action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign In</h1>
    <hr>

    <label for="Username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <div class="clearfix">
      <button color = "yellow" type="submit" class="signupbtn">Sign In</button>
    </div>
  </div>
</form>
</html>