{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalImports %}
<!-- Custom styles for this template -->
<!-- <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">   -->
{% endblock %}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1 class="text-left">Book title: {{ book.Book_title }}</h1>
	<!-- <p class="lead"></p> -->
      </div>



	<div class="container-fluid">
	    <div class="content-wrapper">	
			<div class="item-container">	
				<div class="container">	
					<div class="col-md-12">
						<div class="product col-md-3 service-image-left">
	                    
							<center>
								<img id="item-display" src="{{ book.CoverImage.url }}" alt="No image!">
							</center>
						</div>
						
						<div class="container service1-items col-sm-2 col-md-2 pull-left">
							<center>
								<a id="item-1" class="service1-item">

									<img src="/media/book_images/noImage" alt=""></img>
								</a>
								<a id="item-2" class="service1-item">
									<img src="/media/book_images/noImage" alt=""></img>
								</a>
								<a id="item-3" class="service1-item">
									<img src="/media/book_images/noImage" alt=""></img>
								</a>
							</center>
						</div>
					</div>
						
					<div class="col-md-7">
						<div class="product-title">{{ book.Book_title }}</div>
						<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
						<hr>
						<div class="product-price">$ {{ book.Price }}</div>
						<div class="product-stock">In Stock</div>
						<hr>
						<div class="btn-group cart">
							<button type="button" class="btn btn-success">
								Add to cart 
							</button>
							<form method="POST" action="{% url 'myCart:add_item' %}">
								{% csrf_token %}
								<input type= "hidden" name="ISBN" value = "{{book.ISBN}}"> 
								<input type = "submit" class="btn btn-info" style="width:150px;" value="Add to cart">
							</form>
						</div>
						<div class="btn-group wishlist">
							<button type="button" class="btn btn-danger">
								Add to wishlist 
							</button>
						</div>
					</div>
				</div> 
			</div>
			<br></br>
			<div class="container-fluid">		
				<div class="col-md-12 product-info">
						<ul id="myTab" class="nav nav-tabs nav_tabs">
							
							<li class="nav-link"><a href="#service-one" data-toggle="tab">Summary</a></li>
							<li class="nav-link"><a href="#service-two" data-toggle="tab">Details</a></li>
							<li class="nav-link"><a href="#service-three" data-toggle="tab">Comments</a></li>
							
						</ul>
				
					<br></br>

					<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="service-one">
							 
								<section class="container product-info">
										{{ book.Book_description }}	

								</section>
											  
							</div>
						<div class="tab-pane fade" id="service-two">
							
							<section class="container product-info">
								
									<ul class ="text-left" style="list-style-type:none">

										<li class = "col-md-4"><strong>Title:</strong>     {{ book.Book_title }}</li>
										<li class = "col-md-4"><strong>ISBN:</strong>     {{ book.ISBN }}</li>
										<li class = "col-md-4"><strong>Genre:</strong>     {{ book.GenreID.Name }}</li>
										<li class = "col-md-4"><strong>Publisher:</strong>     {{ book.PublisherID.Name }}</li>
										<li class = "col-md-4"><strong>Release Date:</strong>     {{ book.Release_date }}</li>
									</ul>
										
							</section>
							
						</div>
						<div class="tab-pane fade" id="service-three">
													
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	
	
	</div><!-- /.container -->
{% endblock %}

