{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalImports %}
<!-- Custom styles for this template -->

<!-- for star ratiings -->
<link href="{% static 'css/comment.css' %}" media="all" rel="stylesheet" type="text/css" />

<!-- Custom styles for this template -->
<link href="{% static 'css/modal.css' %}" rel="stylesheet"> 
<link rel="stylesheet" href="https://lokeshdhakar.com/projects/lightbox2/css/lightbox.css">
<link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Jvascript code -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script src="{% static 'lightbox/src/js/lightbox.js' %}"></script>

<script>
	<% for key, value in context.items %>	
		<%if key == 'books'%>
			<% books = value %>
		<%if key == 'author'%>
			<%author = value%>
	<% endfor %>
</script>



{% endblock %}
{% block content %}
<div class="container col-md-10">

	<br></br>
	<h1 class="text-left">Books by {{ author.Fname }} {{ author.Lname }}</h1>




	<br></br>
	<div id="comments">
				
				
		{% for book in books %}	
			<div class="comment">
				<div class="comment-author"><h2>  <a class="btn-link" href="/BookDetails/?book={{ book.ISBN }}">{{book.Title}}</a></h2></div>
				<div class="comment-text">
				<div class="row">
				<div class="col">
					<center>
 					<a class="btn-link" href="/BookDetails/BooksByAuthor/?book={{ book.ISBN}}">
					<img  class="example-image img-thumbnail img-fluid" style="max-width:200px; margin-top:15px" alt="image-1" src="{{book.CoverImage.url}}"/>
					</a>
					</center>
				</div>
				<div class="col">
					<br></br>
                                <table class="table table-striped">
 					<tr>
                                                 <td><strong>Title:</strong></td>
                                                 <td>{{ book.Title }}</td>
                                         </tr>
                                         <tr>
                                                 <td ><strong>Author:</strong></td>
                                                 <td> <a class="btn-link" href="/BookDetails/BooksByAuthor/?author={{ book.AuthorID.AuthorID }}">{{book.AuthorID.Fname}} {{book.AuthorID.Lname}}</a></td>
                                         </tr>
                                         <tr>
                                         <tr>
                                                 <td><strong>ISBN:</strong></td>
                                                 <td>{{ book.ISBN }}</td>
                                         </tr>
                                         <tr>
                                                 <td><strong>Genre:</strong></td>
                                                 <td>{{ book.GenreID.Name }}</td>
                                         </tr>
                                         <tr>
                                                 <td><strong>Publisher:</strong></td>
                                                 <td>{{ book.PublisherID.Name }}</td>
                                         </tr>
                                         <tr>
                                                 <td><strong>Release Date:</strong></td>
                                                 <td>{{ book.Release_date }}</td>
                                         </tr>
                                 </table>

				</div>
				</div>
				</div>
				
			</div>
			<br>
		{% endfor %}
</div>


{% endblock %}


