{% extends 'base.html' %}
{% load staticfiles %}
{% block additionalImports %}
<!-- Custom styles for this template -->

<!-- for star ratiings -->
<link href="{% static 'css/comment.css' %}" media="all" rel="stylesheet" type="text/css" />

<!-- Custom styles for this template -->
<link href="{% static 'css/modal.css' %}" rel="stylesheet"> 
<link rel="stylesheet" href="https://lokeshdhakar.com/projects/lightbox2/css/lightbox.css">
<link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Jvascript code -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script src="{% static 'lightbox/src/js/lightbox.js' %}"></script>

<script>
	$(document).ready(function(){
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
	});
</script>
<script>
	<% for key, value in context.items %>	
		<%if key == 'book'%>
			<% book = value %>
		<%if key == 'comments' %>
			<%comments = value%>
		<%if key == 'rating'%>
			<%rating = value%>
	<% endfor %>
</script>



{% endblock %}
{% block content %}

<div class="container  col-lg-8">

<h1 class="text-left">{{ book.Title }}</h1>
	
	<br></br>
	<a class="example-image-link" href="{{book.CoverImage.url}}" data-lightbox="example-1" >
		<center>
			<img  class="example-image img-thumbnail img-fluid" style="max-width:300px" alt="image-1" src="{{book.CoverImage.url}}"/>
		</center>
	</a>


	<br></br>

	<div class="">

		<hr>
		<div class="row">
			<div class="col text-center">

				<div class="product-price"><h4>$ {{ book.Price }}</h4></div>

					<form method="POST" action="{% url 'myCart:add_item' %}">
						{% csrf_token %}
						<input type= "hidden" name="ISBN" value = "{{book.ISBN}}">
						<input type = "submit" class="btn btn-info" style="width:150px;" value="Add to cart">
					</form>
			</div>
	
			<div class="float-right text-center col">

				<div >

					<h4>{{rating}} Star(s)</h4>		
        				<div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
            					
					<!-- Floor-style rounding-->
					{% ifequal rating 5 %} 
						<input type="radio" id="star5" name="rating" value="5" /><label style="color: #ffca08" for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label style="color: #ffca08" for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label style="color: #ffca08" for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label style="color: #ffca08" for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label style="color: #ffca08" for="star1" title="1 star"></label>
					{% endifequal %}
					{% ifequal rating 4 %}
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label style="color: #ffca08" for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label style="color: #ffca08" for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label style="color: #ffca08" for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label style="color: #ffca08" for="star1" title="1 star"></label>
					{% endifequal %}

					{% ifequal rating 3 %}
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label style="color: #ffca08" for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label style="color: #ffca08" for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label style="color: #ffca08" for="star1" title="1 star"></label>
					{% endifequal %}

					{% ifequal rating 2 %}
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label style="color: #ffca08" for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label style="color: #ffca08" for="star1" title="1 star"></label>
					{% endifequal %}

					{% ifequal rating 1 %}
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label style="color: #ffca08" for="star1" title="1 star"></label>
					{% endifequal %}

						
        				</div>
  				</div>    
      			</div>
		</div>


		
		<hr>

	<br></br>


	<div>		
	

		<ul class="nav nav-tabs">

			<li><a href="#description" class="btn btn-secondary active btn-group" role="button">Description</a></li>
			<li><a href="#details"  class="btn btn-secondary btn-group" role="button">Details</a></li>
			<li><a href="#comments" class="btn btn-secondary btn-group" role="button" >Comments</a></li>
		</ul>

		<br>
		<div class="panel-body tab-content">
			<div class="tab-pane in active " id="description">

				<p>		
				{{ book.Book_description }}	
				</p>

			</div>
			<div class="tab-pane fade " id="details">

				<table class="table table-striped">
					<tr>
						<td><strong>Title:</strong></td>  
						<td>{{ book.Title }}</td>
					</tr>

					<tr>
						<td ><strong>Author:</strong></td>
						<td> <a class="btn-link" href="/BookDetails/BooksByAuthor/?author={{ book.AuthorID.AuthorID }}">{{book.AuthorID.Fname}} {{book.AuthorID.Lname}}</a></td>
					</tr>

					<tr>
						<td><strong>ISBN:</strong></td>
						<td>{{ book.ISBN }}</td>
					</tr>
					<tr>
						<td><strong>Genre:</strong></td>
						<td>{{ book.GenreID.Name }}</td>
					</tr>
					<tr>
						<td><strong>Publisher:</strong></td>
						<td>{{ book.PublisherID.Name }}</td>
					</tr>
					<tr>
						<td><strong>Release Date:</strong></td>
						<td>{{ book.Release_date }}</td>
					</tr>
				</table>

			</div>
			<div class="tab-pane fade" id="comments">
				
				
			{%for comment in comments%}	
				<div class="comment">
					<div class="comment-author">{{ comment.ProfileID.AuthUser_ID }}</div>
					<div class="comment-text">
						{{ comment.Comment_Text }}
						<div class="comment-date">{{ comment.Time_posted}}</div>
					</div>
					<!-- <a href="#reply" title="Ответить" class="comment-reply"></a> -->
				
				</div>
				<br>
			{% endfor %}
			
			</div>
		</div>

	</div>

	<div class="container float-left text-left">	
		<br></br>
		<div class="panel-group"">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" href="#collapse1"><h6 class="panel-title">About the author...</h6></a>
				</div>


				<div id="collapse1" class="panel-collapse collapse">

					<div class="panel-body">
						<hr>
						<a class="btn-link" href="/BookDetails/BooksByAuthor/?author={{ book.AuthorID.AuthorID }}"><strong>{{book.AuthorID.Fname}} {{book.AuthorID.Lname}}</strong></a>
						</br>
						{{book.AuthorID.Bio}}
					</div>
				</div>
			</div>
		</div>

		<br></br>
		<br></br>
		<br></br>
	</div>	


	</div>
</div>


{% endblock %}


