{% extends 'myCart/base.html'%}
{% load static %}
{% block content %}
 <br>   
    
 
     <div class="jumbotron">
        <h1>Welcome! You're in the cart page</h1>
        <p>Below you'll find the items you've added to your cart.<br>
        Check to make sure everything's ok. Once you're done, click <br>
        'Complete Purchase(s)' to complete your transaction, 
        <strong>Thanks for using Geek Peek!</strong>
     </div>


 <h1 style="color:darkgoldenrod">Welcome! You're in the cart page</h1><br>


    
    <div class="alert alert-success" style = "border:2px;border-color:darkgreen">
        <h2>Your Cart Cookie value is: <br> <strong>{{Cart_ID}}</strong></h2>
    </div>
  
   

    
    <!-- ------------------------------<br>     -->
    <div class="container">
        <div class="row">

            <!-- Item information --> <!-- Left side of the grid-->
            <div class="col">
                <ul class="list-group">
                    {% for item in cart_content_list %}
                    <li class="list-group-item border-info">  
                        <strong>Book Title: {{item.ISBN.Title}} </strong> <br>
                        <strong>Book ISBN: </strong> {{item.ISBN.ISBN}} <br>

                        <!-- For now, cover image is now noImage.gif from statis folder because idk how to get from media folder-->
                        <strong>Cover Image: </strong> <br> 
                        <h6 style="color:red">No image in DB! Please set one.</h6>
                        <img style="max-height:150px;max-width:150px" src="{% static "myCart/noImage.gif" %}" alt = "Book Picture"> <br>

                        <strong>Book_description: </strong> {{item.ISBN.Book_description}} <br>
                        <strong>Price: $</strong>{{item.ISBN.Price}} <br>    
                        <strong>Quantity: </strong> {{item.Quantity}}    
                        <br>    
                    </li>
                    {% endfor %}
                
                </ul> <!-- List-Group -->
            </div> <!-- Column-->
            

            <!-- Subtotal Dialog Box --> <!-- This is the right side of the grid-->
            <div class="col border border-info rounded shadow" style="max-height:150px;max-width:300px;background-color:rgba(43, 213, 219, 0.295)">
                Subtotal: $<br>
                Shipping: FREE! <br>
                Tax: TAX FREE! <br><br>
                
                
                <button class="btn btn-info float-bottom" style="width:100%"><i class="fas fa-truck"></i> Checkout</button>
            </div>
        </div> <!-- Grid -->
    </div>

    <!-- ---------------------------- <br> -->

{% endblock %}
